body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #9400d3;
}

header {
  background-color: #9400d3;
  padding: 20px;
  text-align: center;
  align-items: center;
  color: white;

}

header h1 {
  display: flex;
  margin-left: 10%;
  margin-top: -5%;
}

header img {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


header ul {
  display: flex;
  margin-left: 12%;
  color: black;
}

.lupa li {
  display: flex;
  justify-content: end;
  text-decoration: none;
}

a {
  color: white;
}

nav ul {
  list-style: none;
  color: white;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

marquee {
  background-color: yellow;
}

nav a {
  text-decoration: none;
}

section {
  text-align: center;
  padding: 50px;
}

.usuario {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: -5%;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 16%;
}

.consola {
  display: flex;
  justify-content: center;
  margin: 5%;
  justify-content: space-between;
  font-size: 100px;

}

.ps5 {
  background-color: #010068;
  padding: 1%;
  padding-top: 2%;
}

.xbox {
  background-color: #107b0f;
  padding: 2%;
  padding-top: 2%;
}

.nintendo {
  background-color: #e60012;
  padding: 2%;
  padding-top: 2%;
}

.consola img {
  width: 500px;
  height: 300px;
  border-radius: 200px;
  display: flex;

}

.botones {

  background: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
}

.AcercaDe {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 50px;
  color: white;
  margin-bottom: 100px;
  margin-inline: 400px;
  justify-content: center;
}


.botones::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,
      red, blue, deeppink, blue, red, blue, deeppink, blue);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

}

.body2 {
  font-family: 'Press Start 2P', cursive;
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #000;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-form {
  max-width: 300px;
  margin: auto;
}

.login-form h2 {
  text-align: center;
  color: #fff;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button2 {
  width: 100%;
  padding: 10px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button2:hover {
  background-color: #cc5500;
}

.imagen_compra {
  display: flex;
  background-color: #010068;
  padding-top: -1%;
  width: 100px;
  margin-left: -8%;
}
.juego{
  margin-left: 47%;
  margin-top: -22%;
  border-radius: 5%;
  background-color:#4b0081;
  color: white;
  padding: 2%;
  width: 200px;
}
.juego2{
  margin-left: 63%;
  margin-top: -22%;
  border-radius: 5%;
  background-color:#4b0081;
  color: white;
  padding: 2%;
  width: 200px;
}
.juego3{
  margin-left: 79%;
  margin-top: -22%;
  border-radius: 5%;
  background-color:#4b0081;
  color: white;
  padding: 2%;
  width: 199px;
  height: 334px;
}

