<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Seccion Nintendo</title>
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="index.html"><img src="img/Preview__1_-ai-brush-removebg-vfh20d29.png"
                            alt=""></a></li>
                <li id="titulo" class="titulo"><a href="{{url_for('index')}}">Mundo Gamer Outlet</a></li>
                <li id="opciones" class="item"><a href="{{url_for('index')}}">Inicio</a></li>
                <li id="opciones" class="item"><a href="{{url_for('AcercaDe')}}">Acerca de</a></li>
                <li id="opciones" class="item"><a href="{{url_for('QuienesSomos')}}">Quienes somos</a></li>
                <li id="sesion" class="item button"><a href="{{url_for('registro')}}">Registrarse</a></li>
                <li id="sesion" class="item button secondary"><a href="{{url_for('usuario')}}">Iniciar Sesion</a></li>
                <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>
    <marquee>
        <div>
            <h2> "ElmasCapito ha comprado "Hollow Knight (SWITCH)"</h2>
        </div>
    </marquee>
    <div>
        <div class="imagen_compra3">
            <img class="nintendo-remove" src="/img/Nintendo.svg_resized-removebg-preview.png" alt="">
        </div>
    </div>
    <div class="todo">
        <div class="juegos">
            <a href="{{url_for('carrito')}}"><img src="img/purpura.jpg" alt=""> </a>
            <p>Pokemon Purpura (SWITCH)</p>
            <p>Precio: 55.990 CLP</p>
            <button type="button" class="botones">Comprar</button>

        </div>
        <div class="juegos">
            <a href="{{url_for('carrito')}}"><img src="img/escarlata.jpg" alt=""></a>
            <p>Pokemon Escarlata (SWITCH)</p>
            <p>Precio: 55.990 CLP</p>
            <button type="button" class="botones">Comprar</button>

        </div>
        <div class="juegos">
            <a href="{{url_for('carrito')}}"> <img src="img/dance.jpg" alt=""></a>
            <p>Just Dance 2024 Edition (SWITCH) </p>
            <p>Precio: 56.691 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>

        <div class="juegos">
            <img src="img/hogwarts.jpg" alt="">
            <p>Hogwarts Legacy (SWITCH)</p>
            <p>Precio: 47.999 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>
        <div class="juegos">
            <img src="img/hollow.jpg" alt="">
            <p>Hollow Knight (SWITCH)</p>
            <p>Precio: 7.500 CLP</p>
            <button type="button" class="botones">Comprar</button>

        </div>
        <div class="juegos">
            <img src="img/isaac.jpg" alt="">
            <p>The Binding Of Isaac Bundle (SWITCH)</p>
            <p>Precio: 45.990 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>
        <div class="juegos">
            <img src="img/kart.jpg" alt="">
            <p>Mario Kart 8 Deluxe (SWITCH)</p>
            <p>Precio: 58.990 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>
        <div class="juegos">
            <img src="img/kong.jpg" alt="">
            <p>Mario Vs Donkey Kong (SWITCH)</p>
            <p>Precio: 48.990 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>
        <div class="juegos">
            <img src="img/luigi.jpg" alt="">
            <p>Luigi's Mansion 3 (SWITCH)</p>
            <p>Precio: 44.990 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>
        <div class="juegos">
            <img src="img/pikmin.jpg" alt="">
            <p>Pikmin 4 (SWITCH) </p>
            <p>Precio: 58.990 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>
        <div class="juegos">
            <img src="img/rpg.jpg" alt="">
            <p>Super Mario RPG (SWITCH)</p>
            <p>Precio: 58.990 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>
        <div class="juegos">
            <img src="img/smash.jpg" alt="">
            <p>Super Smash Bros Ultimate (SWITCH)</p>
            <p>Precio: 58.990 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>
        <div class="juegos">
            <img src="img/sonic.jpg" alt="">
            <p>Sonic Frontiers (SWITCH)</p>
            <p>Precio: 52.900 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>
        <div class="juegos">
            <img src="img/zelda.jpg" alt="">
            <p>TLOZ Tears Of The Kingdom (SWITCH)</p>
            <p>Precio: 68.790 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>
        <div class="juegos">
            <img src="img/wonder.jpg" alt="">
            <p>Super Mario Bros Wonder (SWITCH)</p>
            <p>Precio: 58.990 CLP</p>
            <button type="button" class="botones">Comprar</button>
        </div>

    </div>
    </div>

    </div>

    <footer>
        <p>&copy; 2024 Mi Página - Creada por Totobal Y Lolito</p>
    </footer>
</body>

</html>