<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Seccion Playstation</title>
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="{{url_for('index')}}"><img
                            src="/static/img/Preview__1_-ai-brush-removebg-vfh20d29.png" alt=""></a></li>
                <li id="titulo" class="titulo"><a href="{{url_for('index')}}">Mundo Gamer Outlet</a></li>
                <li id="opciones" class="item"><a href="{{url_for('index')}}">Inicio</a></li>
                <li id="opciones" class="item"><a href="{{url_for('AcercaDe')}}">Acerca de</a></li>
                <li id="opciones" class="item"><a href="{{url_for('QuienesSomos')}}">Quienes somos</a></li>
                <li id="sesion" class="item button"><a href="{{url_for('registro')}}">Registrarse</a></li>
                <li id="sesion" class="item button secondary"><a href="{{url_for('usuario')}}">Iniciar Sesion</a></li>
                <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>
    <marquee>
        <div>
            <h2>"Jormungander69 ha comprado God Of War Ragnarok(PS4)"</h2>
        </div>
    </marquee>
    <div>
        <div class="imagen_compra">
            <img src="/static/img/ps-logo_resized.webp" alt="">
        </div>
        <div class="todo">
            <div class="juegos">
                <a href="{{url_for('carrito')}}"><img src="/static/img/ragnarok.jpg" alt=""> </a>
                <p>God of war Ragnarok (PS4)</p>
                <p>Precio: 48.327 CLP</p>
                <button type="button" class="botones">Comprar</button>

            </div>
            <div class="juegos">
                <a href="{{url_for('carrito')}}"><img src="/static/img/fc24.jpg" alt=""></a>
                <p>Fc 2024 (PS5)</p>
                <p>Precio: 68.662 CLP</p>
                <button type="button" class="botones">Comprar</button>

            </div>
            <div class="juegos">
                <a href="{{url_for('carrito')}}"> <img src="/static/img/dbz.jpg" alt=""></a>
                <p>DB Sparking Zero (PS5) </p>
                <p>Proximamente</p>
            </div>

            <div class="juegos">
                <img src="/static/img/among us.jpg" alt="">
                <p>Among us (PS5)</p>
                <p>Precio: 4.610 CLP</p>
                <button type="button" class="botones">Comprar</button>
            </div>
            <div class="juegos">
                <img src="/static/img/mk1.jpg" alt="">
                <p>Mortal Kombat 1(PS5)</p>
                <p>Precio: 54.990 CLP</p>
                <button type="button" class="botones">Comprar</button>

            </div>
            <div class="juegos">
                <img src="/static/img/GTA V.jpg" alt="">
                <p>Grand Theft Auto V (PS4)</p>
                <p>Precio: 22.990 CLP</p>
                <button type="button" class="botones">Comprar</button>
            </div>
            <div class="juegos">
                <img src="/static/img/TheLastOfUs.jpg" alt="">
                <p>The Last Of Us Remastered (PS5)</p>
                <p>Precio:44.990 CLP</p>
                <button type="button" class="botones">Comprar</button>
            </div>
            <div class="juegos">
                <img src="/static/img/CallOfDuty6.jpg" alt="">
                <p>Call Of Duty Black Ops 6 (PS5)</p>
                <p>Proximamente</p>

            </div>
            <div class="juegos">
                <img src="/static/img/MK11.jpg" alt="">
                <p>Mortal Kombat 11(PS4)</p>
                <p>Precio: 33.990 CLP</p>
                <button type="button" class="botones">Comprar</button>
            </div>
            <div class="juegos">
                <img src="/static/img/Spider-man.jpg" alt="">
                <p>SPIDER-MAN 2 (PS5) </p>
                <p>Precio: 44.990 CLP</p>
                <button type="button" class="botones">Comprar</button>
            </div>
            <div class="juegos">
                <img src="/static/img/Uncharted.jpg" alt="">
                <p>Uncharted
                    legacy of thieves COLLECTION (PS5)
                </p>
                <p>Precio: 29.990 CLP</p>
                <button type="button" class="botones">Comprar</button>
            </div>
            <div class="juegos">
                <img src="/static/img/gtaVl.jpeg" alt="">
                <p>Gran Theft Auto Vl (PS5)</p>
                <p>Proximamente</p>

            </div>
            <div class="juegos">
                <img src="/static/img/reddeadredemption.jpeg" alt="">
                <p>Red dead redemption II (PS4)</p>
                <p>Precio: 18.990 CLP</p>
                <button type="button" class="botones">Comprar</button>
            </div>
            <div class="juegos">
                <img src="/static/img/Gow3.jpeg" alt="">
                <p>God Of War III Remastered (PS4)</p>
                <p>Precio: 14.990 CLP</p>
                <button type="button" class="botones">Comprar</button>
            </div>
            <div class="juegos">
                <img src="/static/img/assassinscreed.jpeg" alt="">
                <p>Assassin´s creed UNITY (PS5)</p>
                <p>Precio: 27.990CLP</p>
                <button type="button" class="botones">Comprar</button>
            </div>

        </div>
    </div>

    </div>
    <footer>
        <p>&copy; 2024 Mi Página - Creada por Totobal Y Lolito</p>
    </footer>
</body>

</html>