<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Página de Inicio</title>
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="index.html"><img src="img/Preview__1_-ai-brush-removebg-vfh20d29.png"
                            alt=""></a></li>
                <li id="titulo" class="titulo"><a href="/index.html">Mundo Gamer Outlet</a></li>
                <li id="opciones" class="item"><a href="index.html">Inicio</a></li>
                <li id="opciones" class="item"><a href="AcercaDe.html">Acerca de</a></li>
                <li id="opciones" class="item"><a href="QuienesSomos.html">Quienes somos</a></li>
                <li id="sesion" class="item button"><a href="registro.html">Registrarse</a></li>
                <li id="sesion" class="item button secondary"><a href="usuario.html">Iniciar Sesion</a></li>
                <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>
    <marquee>
        <div>
            <h2>sicariototobal27 ha comprado "Fc 2024 (PS5)"</h2>
        </div>
    </marquee>
    <h1>¿Quienes somos??</h1>
    <div class="quienessomos">
        <div>
            <img class="vicho" src="img/vicente.jpg" alt="">
        </div>
        <div class="cris">
            <img src="img/cristobal 2.jpg" alt="">
        </div>
    </div>



    <footer>
        <p>&copy; 2024 Mi Página - Creada por Totobal Y Lolito</p>
    </footer>
</body>

</html>