<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Página de Inicio</title>
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="{{url_for('index')}}"><img
                            src="/static/img/Preview__1_-ai-brush-removebg-vfh20d29.png" alt=""></a></li>
                <li id="titulo" class="titulo"><a href="{{url_for('index')}}">Mundo Gamer Outlet</a></li>
                <li id="opciones" class="item"><a href="{{url_for('index')}}">Inicio</a></li>
                <li id="opciones" class="item"><a href="{{url_for('AcercaDe')}}">Acerca de</a></li>
                <li id="opciones" class="item"><a href="{{url_for('QuienesSomos')}}">Quienes somos</a></li>
                <li id="sesion" class="item button"><a href="{{url_for('registro')}}">Registrarse</a></li>
                <li id="sesion" class="item button secondary"><a href="{{url_for('usuario')}}">Iniciar Sesion</a></li>
                <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>
    <marquee>
        <div>
            <h2>sicariototobal27 ha comprado "Fc 2024 (PS5)"</h2>
        </div>
    </marquee>
    <h1>¿Quienes somos??</h1>
    <div class="quienessomos">
        <div class="fondo">
            <img class="vicho" src="/static/img/vicente.jpg" alt="">
            <h2>Vicente Castro</h2>
        </div>
        <div class="fondo">
            <img class="cris" src="/static/img/cristobal 2.jpg" alt="">
            <h2>Cristobal Collado </h2>

        </div>
    </div>



    <footer>
        <p>&copy; 2024 Mi Página - Creada por Totobal Y Lolito</p>
    </footer>
</body>

</html>