<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Página de Inicio</title>
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="{{url_for('index')}}"><img
                            src="/static/img/Preview__1_-ai-brush-removebg-vfh20d29.png" alt=""></a></li>
                <li id="titulo" class="titulo"><a href="{{url_for('index')}}">Mundo Gamer Outlet</a></li>
                <li id="opciones" class="item"><a href="{{url_for('index')}}">Inicio</a></li>
                <li id="opciones" class="item"><a href="{{url_for('AcercaDe')}}">Acerca de</a></li>
                <li id="opciones" class="item"><a href="{{url_for('QuienesSomos')}}">Quienes somos</a></li>
                <li id="sesion" class="item button"><a href="{{url_for('registro')}}">Registrarse</a></li>
                <li id="sesion" class="item button secondary"><a href="{{url_for('usuario')}}">Iniciar Sesion</a></li>
                <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>
    <marquee>
        <div>
            <h2>sicariototobal27 ha comprado "Fc 2024 (PS5)"</h2>
        </div>
    </marquee>
    <h1 id="Q">¿Quienes somos??</h1>

    <div class="fondo">
        <img class="vicho" src="/static/img/vicente.jpg" alt="">
        <div class="name-bio">
            <h2>Vicente Castro</h2>
            <h4>*ingresa tu bio*</h4>
            <h4>kasdksakddjgfkskafkaksfklakfjkafsalkdfflasdfkdlsafkd</h4>
            <h4>asnudiasjbhnjadskihunjkaidjuhncjsksjnjd</h4>
            <h4>asjnjcksdjsncsjmskidjnmkxjdnxkjsd</h4>
        </div>
    </div>
    <div class="fondo2">
        <img class="cris" src="/static/img/cristobal 2.jpg" alt="">
        <div>
            <h2>Cristobal Collado </h2>
            <h4>Hola, me llamo Cristóbal Collado y actualmente estoy en proceso de terminar mi cuarto año de educación
                media en la especialidad técnico en programación. Uno de mis mayores logros hasta ahora es que tengo en
                mi poder el cinturón amarillo de Coding Dojo, un paso más para convertirme en programador o incluso en
                ingeniero en informática. Además, en la última feria TP fui parte del proyecto Don Marcos, lo cual fue
                muy interesante para nosotros.
            </h4>
            <h4>Desde niño, una de mis metas siempre fue dedicarme al deporte,
                especialmente al fútbol, pero por circunstancias de la vida no pude hacerlo profesionalmente. Pensando
                en el futuro, me gustaría en algún momento regresar al fútbol profesional, ya que es una carrera muy
                entretenida en mi opinión. Otra opción sería terminar mi práctica y ver si realmente tengo lo necesario
                para ser programador o incluso mejor, ingeniero en informática</h4>
        </div>
    </div>
    <video width="640" height="360" controls>
        <source src="/static/img/WhatsApp Video 2024-07-25 at 7.10.08 PM.mp4" type="video/mp4">
    </video>




    <footer>
        <p>&copy; 2024 Mi Página - Creada por Totobal Y Lolito</p>
    </footer>
</body>

</html>